body {
    font-family: var(--principal_font);
    position: relative;
}
.container {
    max-width: 1440px;
    width: calc(100% - 60px);
    height: 100%;
    margin: 0 auto;
}
.content {
    display: flex;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  transition: all 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

#header {
    position: fixed;
    left: 0;
    top: -300px;
    width: 100%;
    background: #fff;
    transition: all 2s ease;
    z-index: 5;
}
#header.active {
    top: 0;
}
#header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    transition: all 1s ease;
}
#header.float .menu {
    padding: 20px 0;
}
#header .menu .logo {
    width: 100%;
    max-width: 100px;
}
#header .menu .logo i {
    color: var(--principal-color);
    font-size: 50px;
}
#header .menu .list_pages {
    display: flex;
}
#header .menu .list_pages .item {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: var(--title-medium);
}
#header .menu .list_pages .item:last-child {
    margin-right: 0;
}
#header .menu .list_pages .item a {
    color: var(--principal-color-font);
}
#header .menu .list_pages .item a::after {
    content: "";
    display: block;
    width: 00px;
    height: 4px;
    margin-top: 5px;
    background: var(--principal-color);
    transition: all 1s ease;
}
#header .menu .list_pages .item:hover a::after, #header .menu .list_pages .item.active a::after {
    width: 30px;
}

#footer {
    background: var(--second-color);
    padding: 30px 0;
}
#footer .menu {
    width: 100%;
    text-align: center;
    color: #fff;
}
#footer .menu a {
    color: #f4cab6;
}
#footer .menu .redes {
    margin-top: 15px;
}
#footer .menu .redes a i{
    color: #fff;
    transition: all 0.5s ease;
    margin: 0 5px;
}
#footer .menu .redes a:hover i{
    color: #f4cab6;
}

#home .banner {
    height: 100vh;
    position: relative;
    background: var(--second-color);
}
#home .banner::after {
    content: "";
    background: var(--second-color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    opacity: 0.5;
}
#home .banner .banner-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
    opacity: 0;
}
#home .banner .banner-imagem.active {
    opacity: 1;
}
#home .banner .text {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
    text-align: center;
    max-width: 1000px;
}
#home .banner .text .title{
    font-size: 60px;
    line-height: 60px;
    font-family: "oleo_script_swash_capsregular";
}
#home .banner .text .subtitle{
    font-size: 25px;
}
#home .banner .text .button {
    font-size: 18px;
    background: #516565;
    padding: 20px 40px;
    color: var(--second-color);
    display: inline-block;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.8s ease;
}
#home .banner .text .button:hover {
    background: #fff;
    color: #516565;

}
#home .banner .text .item{
   margin-bottom: 15px;
   opacity: 0;
   transition: 0.8s ease all;
}
#home .banner .text .item.active{
    opacity: 1;
    margin: 0 0 15px 0;
}
#about_us {
    padding: 150px 0;
    height: 100vh;
}
#about_us .imagem_space {
    width: 60%;
}

#about_us .imagem_space .icon {
    position: absolute;
    right: -60px;
    bottom: -60px;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 250px;
}
#about_us .imagem_space .icon img {
    width: 100%;
    object-fit: cover;
}

#about_us .text {
    width: 40%;
}
#about_us .imagem_space .imagem_main {
    width: 100%;
    max-width: 570px;
    position: relative;

}
#about_us .imagem_space .imagem_main img {
    width: 100%;
    object-fit: cover;

}