<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^home/?$ index.php?page=home
    RewriteRule ^sobrenos/?$ index.php?page=sobrenos
    RewriteRule ^contato/?$ index.php?page=contato

</IfModule>